{% extends "base.html" %}
{% block content %}


<section id="data" class="py-5">
    <div id="parameter-select" class="container">
        <div class="row">
            <div class="col-6 py-3">
                <h6 class="">Unit</h6>
                <a href="" class="btn btn-primary">kW</a>
                <a href="" class="btn btn-outline-primary">Hours</a>
            </div>
        </div>
    </div>
    <div id="plots" class="container">
        <img src="https://images.unsplash.com/photo-1634542984003-e0fb8e200e91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80" alt="" class="w-100">
    </div>
    <div id="time-span-select" class="container">
        <div class="row">
            <div class="col-12 py-3">
                <div class="row">
                    <div class="col-3">
                        <a href="" class="btn btn-outline-primary w-100">Last Day</a>
                    </div>
                    <div class="col-3">
                        <a href="" class="btn btn-outline-primary w-100">Last Week</a>
                    </div>
                    <div class="col-3">
                        <a href="" class="btn btn-outline-primary w-100">Last Month</a>
                    </div>
                    <div class="col-3">
                        <a href="" class="btn btn-outline-primary w-100">Last Year</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="information" class="col-12 py-3">
            <h6 class="">Information</h6>
            <label for="device-id">Device ID:</label>
            <input type="text" id="device-id" name="device-id"><br><br>
            <label for="device-name">Name:</label>
            <input type="text" id="device-name" name="device-name"><br><br>
            <label for="device-room">Room:</label>
            <select name="room" id="room">
                <option value="Room 1">Room 1</option>
            </select>
            <!-- <input type="text" id="device-room" name="device-room"><br><br> -->
            <label for="device-type">Type:</label>
            <input type="text" id="device-type" name="device-type"><br><br>
            <input type="submit" value="Update">
        </div>
</section>

{% endblock %}