{% extends "base.html" %}
{% block content %}


<section id="data" class="py-5">
    <div id="parameter-select" class="container">
        <div class="row">
            <div class="col-6 py-3">
                <h6 class="">Unit</h6>
                <a href="" class="btn btn-primary">kW</a>
                <a href="" class="btn btn-outline-primary">Hours</a>
            </div>
        </div>
    </div>
    <div id="plots" class="container">
        <img src="https://images.unsplash.com/photo-1634542984003-e0fb8e200e91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80" alt="" class="w-100">
    </div>
    <div id="time-span-select" class="container">
        <div class="row">
            <div class="col-12 py-3">
                <div class="row">
                    <div class="col-3">
                        <a href="" class="btn btn-outline-primary w-100">Last Day</a>
                    </div>
                    <div class="col-3">
                        <a href="" class="btn btn-outline-primary w-100">Last Week</a>
                    </div>
                    <div class="col-3">
                        <a href="" class="btn btn-outline-primary w-100">Last Month</a>
                    </div>
                    <div class="col-3">
                        <a href="" class="btn btn-outline-primary w-100">Last Year</a>
                    </div>
                </div>
            </div>
        </div>
        <form action="#" method="post">
            <div id="information" class="col-12 py-3">
                <h6 class="">Information</h6>
                <label for="device-id">Device ID: {{device_id}}</label>
                <!-- TODO show ID here instead--><br><br>
                <label for="device-name">Name:</label>
                <input type="text" id="device-name" name="device_name"><br><br>
                <label for="device-room">Room:</label>
                <select name="roomid" id="roomid">
                    {% for x in range(0,roomsize): %}
                    <option value="{{room_id[x]}}">{{room_name[x]}}</option>
                    {% endfor %}
                </select><br><br>
                    <label for="recipient-name" class="col-form-label">Type:</label>
                        <select name="device_type" id="device_type">
                            <option value="temperature">temperature</option>
                            <option value="lights">lights</option>
                            <option value="appliances">appliances</option>
                            <option value="security">security</option>
                        </select>
                <label for="device-type">Power:</label>
                <input type="text" id="device-type" name="device_power"><br><br>
                <input type="submit" value="Update">
            </div>
        </form>
</section>

{% endblock %}