{% extends "base.html" %} {% block content %}

<section id="data" class="py-5">
  <div id="parameter-select" class="container">
    <div class="row">
      <div class="col-6 py-3">
        <h6 class="">TYPE</h6>
        <a href="/room/{{unit}}/{{time}}" class={% if display_type == "room" %}"btn btn-primary"{% else %}"btn btn-outline-primary"{% endif %}>Room</a>
        <a href="/device/{{unit}}/{{time}}" class={% if display_type == "device" %}"btn btn-primary"{% else %}"btn btn-outline-primary"{% endif %}>Device</a>
      </div>
      <div class="col-6 py-3">
        <h6 class="">UNIT</h6>
        <a href="/{{display_type}}/kw/{{time}}" class={% if unit == "kw" %}"btn btn-primary"{% else %}"btn btn-outline-primary"{% endif %}>kW</a>
        <a href="/{{display_type}}/hours/{{time}}" class={% if unit == "hours" %}"btn btn-primary"{% else %}"btn btn-outline-primary"{% endif %}>Hours</a>
      </div>
      <div class="col-12 py-3">
        <div class="row">
          <div class="col-3">
            <a href="/{{display_type}}/{{unit}}/last-day" class={% if time == "last-day" %}"btn btn-primary w-100"{% else %}"btn btn-outline-primary w-100"{% endif %}>Last Day</a>
          </div>
          <div class="col-3">
            <a href="/{{display_type}}/{{unit}}/last-week" class={% if time == "last-week" %}"btn btn-primary w-100"{% else %}"btn btn-outline-primary w-100"{% endif %}>Last Week</a>
          </div>
          <div class="col-3">
            <a href="/{{display_type}}/{{unit}}/last-month" class={% if time == "last-month" %}"btn btn-primary w-100"{% else %}"btn btn-outline-primary w-100"{% endif %}>Last Month</a>
          </div>
          <div class="col-3">
            <a href="/{{display_type}}/{{unit}}/last-year" class={% if time == "last-year" %}"btn btn-primary w-100"{% else %}"btn btn-outline-primary w-100"{% endif %}>Last Year</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="plots" class="container">
    {% autoescape off %}
    {{ fig }}
    {% endautoescape %}
    <img
      src="https://images.unsplash.com/photo-1639389016105-2fb11199fb6b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
      alt=""
      class="w-100"
    />
  </div>
</section>
<section id="room-list" class="container">
    {% for x in range(0, size): %}
        <!-- Insert room name -->
        <a href="/room/{{room_id[x]}}" class="btn btn-lg btn-primary w-100 mb-3">{{room_list[x]}}</a>
    {% endfor %}
    <a href="/newroom" class="btn btn-lg btn-outline-primary w-100 mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="security">+ Add Room</a>
</section>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" method="post">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Room Name:</label>
                        <input type="text" name="roomname"><br>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" value="submit" class="btn btn-primary">Add New Room</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
