{% extends "base.html" %}
{% block content %}


<section id="data" class="py-5">
    <div id="parameter-select" class="container">
        <div class="row">
            <div class="col-6 py-3">
                <h6 class="">Unit</h6>
                <a href="" class="btn btn-primary">kW</a>
                <a href="" class="btn btn-outline-primary">Hours</a>
            </div>
        </div>
    </div>
    <div id="plots" class="container">
        <img src="https://images.unsplash.com/photo-1634542984003-e0fb8e200e91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80"
            alt="" class="w-100">
    </div>
    <div id="time-span-select" class="container">
        <div class="row">
            <div class="col-12 py-3">
                <div class="row">
                    <div class="col-3">
                        <a href="" class="btn btn-outline-primary w-100">Last Day</a>
                    </div>
                    <div class="col-3">
                        <a href="" class="btn btn-outline-primary w-100">Last Week</a>
                    </div>
                    <div class="col-3">
                        <a href="" class="btn btn-outline-primary w-100">Last Month</a>
                    </div>
                    <div class="col-3">
                        <a href="" class="btn btn-outline-primary w-100">Last Year</a>
                    </div>
                </div>
            </div>
        <div id="temperature" class="col-12 py-3">
                <h6 class="">TEMPERATURE</h6>
                <div class="row">
                    {% for x in range(0,tsize): %}
                    <div class="col-3 pt-2 pb-3">
                        <!-- TO CHANGCE device 1 is place holder name -->

                        <a href="/d={{temp_id[x]}}" class="btn btn-primary w-100" style="width: 100px; height: 100px; font-size: 22px"><p>{{temperature_list[x]}}</p></a>

                    </div>
                    {% endfor %}
                    <div class="col-3 pt-2 pb-3">
                        <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="temperature"><i class="fa-solid fa-plus fa-3x"></i></button>
                    </div>
                </div>
            </div>
            <div id="lights" class="col-12 py-3">
                <h6 class="">LIGHTS</h6>
                <div class="row">
                    {% for x in range(0,lsize): %}
                    <div class="col-3 pt-2 pb-3">
                        <!-- TO CHANGCE device 1 is place holder name -->

                            <a href="/d={{light_id[x]}}" class="btn btn-primary w-100" style="width: 100px; height: 100px; font-size: 22px"><p>{{light_list[x]}}</p></a>
                    </div>
                    {% endfor %}
                    <div class="col-3 pt-2 pb-3">
                        <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="lights"><i class="fa-solid fa-plus fa-3x"></i></button>
                    </div>
                </div>
            </div>
            <div id="appliances" class="col-12 py-3">
                <h6 class="">APPLIANCES</h6>
                <div class="row">
                    {% for x in range(0,asize): %}
                    <div class="col-3 pt-2 pb-3">
                        <!-- TO CHANGCE device 1 is place holder name -->

                        <a href="/d={{app_id[x]}}" class="btn btn-primary w-100" style="width: 100px; height: 100px; font-size: 22px"><p>{{appliance_list[x]}}</p></a>

                    </div>
                    {% endfor %}
                    <div class="col-3 pt-2 pb-3">
                        <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="appliances"><i class="fa-solid fa-plus fa-3x"></i></button>
                    </div>
                </div>
            </div>
            <div id="security" class="col-12 py-3">
                <h6 class="">SECURITY</h6>
                <div class="row">
                    {% for x in range(0,ssize): %}
                    <div class="col-3 pt-2 pb-3">

                        <a href="/d={{ser_id[x]}}" class="btn btn-primary w-100" style="width: 100px; height: 100px; font-size: 22px"><p>{{security_list[x]}}</p></a>

                    </div>
                    {% endfor %}
                    <div class="col-3 pt-2 pb-3">
                        <button type="button" class="btn btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="security"><i class="fa-solid fa-plus fa-3x"></i></button>
                    </div>
                </div>
            </div>
    </div>
</section>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" method="post">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" name="devicename"><br>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Room:</label>
                        <select name="roomid" id="roomid">
                            {% for x in range(0,roomsize): %}
                            <option value="{{room_id[x]}}">{{room_list[x]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Type:</label>
                            <select name="device_type" id="device_type">
                                <option value="temperature">temperature</option>
                                <option value="lights">lights</option>
                                <option value="appliances">appliances</option>
                                <option value="security">security</option>
                            </select>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Device kWh:</label>
                        <input type="text" name="devicepower"><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" value="submit" class="btn btn-primary">Add New Device</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}